*{
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.game{
    margin: 100px;
    display: inline-block;
}

#container{
    display: grid;
    width: 100%;
    grid-template: 100px 100px 100px / 100px 100px 100px;
    align-items: center;
    justify-items: center;
}

.square{
    border: 3px solid black;
    padding: 10px;
    width: 70px;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

/* remove border for edges */
.square:nth-child(1), .square:nth-child(2), .square:nth-child(3) {
	border-top: none;
}

.square:nth-child(1), .square:nth-child(4), .square:nth-child(7) {
	border-left: none;
}

.square:nth-child(3), .square:nth-child(6), .square:nth-child(9) {
	border-right: none;
}

.square:nth-child(7), .square:nth-child(8), .square:nth-child(9) {
	border-bottom: none;
}

.playeroptions{
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 10px;
}

.active{
    box-shadow: 0px 0px 5px 1px rgb(255, 0, 149);
}

#noughts, #crosses, #reset{
    font-size: 20px;
    border: 3px solid black;
    padding: 5px;
    width: fit-content;
}

#reset{
    cursor: pointer;
}

.gamecontainer{
    border: 3px solid black;
    width: fit-content;
    margin: 20px;
    position: relative;
}

#overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background-color: rgba(209, 209, 209, 0.736); 
    padding: 200px 100px;
    display: none; 
}

#overlay > * {
    margin-bottom: 10px;
    background-color: white;
}





