*{
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.game{
    margin: 100px;
    display: inline-block;
}

#container{
    display: grid;
    width: 100%;
    grid-template: 100px 100px 100px / 100px 100px 100px;
    align-items: center;
    justify-items: center;
}

.square{
    border: 3px solid black;
    padding: 10px;
    width: 70px;
    text-align: center;
    height: 70px;
    line-height: 70px;
}

.playeroptions{
    display: flex;
    margin: 10px;
    justify-content: center;
    gap: 10px;
}

.active{
    box-shadow: 0px 0px 30px 5px #0ff;
}

#noughts, #crosses{
    font-size: 20px;
    border: 3px solid black;
    padding: 5px;
}

